
.jumbotron {
  padding-top: 6rem;
  background-color: #eec6ea;
}

#projects{
    background-color: #eec6ea;
}

footer{
    background-color:rgb(124, 60, 124);
    padding-bottom: 3rem;
}

section {
  padding-top: 5rem ;
}

#contact {

  background-color: #eec6ea;
  
}
